[submodule "maven-project"]
	path = maven-project
	url = https://github.com/jleetutorial/maven-project.git
[submodule "liferay-javamelody"]
	path = liferay-javamelody
	url = https://github.com/javamelody/liferay-javamelody.git
